/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles  */
body{
    line-height: 1.2;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 100px;
    background: #20222F;
    color: white;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col-1-3{
    flex: 0 1 230px;
}
.wrap{
    flex-wrap: wrap;
}

h2,h4,.hashtag,p{
   color: #8891B0;
   font-size: 13px;
   font-weight: 600;
   font-family: 'Roboto', sans-serif;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}
a{
    text-decoration: none;
}
.center{
    text-align: center;
}
/* header  */
.header{
    padding-top: 32px;
    background-color: #20232f;
}
.heading{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}
.dark-mode-btn{
    width: 42px;
    height: 23px;
    background: linear-gradient(to right,#3B6D98,#3FD090);
    border-radius: 12px;
    padding-left: 3px;
    margin-left: 10px;
}
.circle{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #20222F;
}

/* main  */
.hero{
    padding-top: 40px;
}
.box{
    width: 230px;
    height: 190px;
    text-align: center;
    background-color: #252B43;
    border-radius: 4px;
}
.box-border{
    width: 100%;
    height: 4px;
    background: #188ff5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box3 .box-border{
    background: linear-gradient(to right, #FCB76B, #E65F8B);
}
.box4 .box-border{
    background: #A80C32;
}
.social-media{
    padding-top: 18px;
}
.social-icon{
    font-size: 22px;
    vertical-align: middle;
    color: #138EF4;
    margin-right: 5px;
}
.insta-icon-color{
    color: #E05B90;
}
.youtube-icon-color{
    color: #A80C32;
}
h2{
    font-size: 52px;
    color: white;
    margin: 11px 0 1px 0;
}
.followers{
   font-size: 12px;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 5px;
   margin-bottom: 21px;
}
.progress-bar{
    color: #21A38B;
    font-size: 12px;
}
.arrow-icon{
    color: #21A38B;
    vertical-align: sub;
}
.arrow-down-icon{
    vertical-align: top;
}
.red{
    color: #AB4657;
}

/* section overview  */

.overview{
    margin-top: 40px;
}
.header-font{
    font-size: 30px;
}
.small-box{
    width: 230px;
    height: 116px;
    background: #252B43;
    border-radius: 6px;
    margin-top: 20px;
}
.col-1{
    padding-left: 20px;
}
.col-1 .views-and-likes{
    padding-top: 15px;
}
.col-1 .heading{
    margin-top: 28px;
}
.col-2{
    padding-right: 20px;
}
.col-2 .social-icon{
    margin-bottom: 30px;
}